@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
:root{
    --color--primary: rgb(24, 24, 206);
    --colour--secondary: rgb(7, 212, 24);
    --colour--text2:rgb(99, 99, 99);

    --colour--bg:rgb(237, 237, 237);
    
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.nav-bar li{

    list-style: none;
   
    padding: 0 16px 0px 0px;
}
.nav-bar ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.nav-bar li a{
    text-decoration: none;
    color: var(--colour--text2);
}
.nav-bar li a:hover{
    color: var(--color--primary);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    z-index: 9999;
    /* background-color: white; */
    padding: 24px 24px;
    position: relative;
}
.btn-quote a{
    padding: 8px 24px;
    text-decoration: none;
    font-size: 14px;
    color:var(--colour--secondary);
    border: 1px solid var(--colour--secondary);
    border-radius: 50px;
}
.nav-bar_nav .menu i{
    font-size: larger;
  
}
.nav-bar_nav .menu{
    position: absolute;
    right: 52px;
    background: var(--color--primary);
    color: white;
    padding: 2px 10px;
    top: 50px;
    border-radius: 8px;
    display: none;
}
.nav-bar_nav .logo{
    display: none;
}
@media screen and (max-width:772px) {
    .nav-bar ul{
        display: initial
    }
    header{
        margin-bottom: 24px;
    }
    .nav-bar{
        display: inline-block;
        z-index: 9999;
        position: absolute;
        background: white;
        top: 100px;
        right: 0;
    }
    
    .btn-quote {
        margin-top: 24px;
    }
    .nav-bar{
        display: none;
    }
    .showmenu{
        display: block;
    }
    .nav-bar li {
        list-style: none;
        padding: 10px 0px 10px 24px;
        /* background: red; */
        margin-top: 5px;
    }
    .nav-bar li a{
        padding: 10px 300px 10px 0px;
    }
    .nav-bar li:hover{
        background-color: var(--color--primary);
        color: white;
    }
    .nav-bar li>a:hover{
        color: white;
    }
    .nav-bar_nav .logo{
        display: block;
        margin-top: 50px;
        left: 24px;
        position: relative;
    }
    .nav_bar_top{
        display: none;
        
    }
    .fixed{
        padding-bottom: 24px;
    }
    .nav-bar_nav .menu{
        display: block;
    }

}


.cpm_achive span{ 
font-size: 50px;
color: var(--color--primary);
font-weight: 600;
}

















.fixed{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1;
    top: 0;
}


.nav_bar{
    /* background-color: red; */
    /* display: flex; */
    margin: 24px;
}
.logo{
    width: 100px;
}
.nav_left{
    display: inline-flex;
    align-items: center;
    float: inline-end;
}
.nav_bar_top{
    padding: 24px 0px;
}
.nav_bar_top ul{
    list-style: none
}
.nav_bar_top ul li a{
    text-decoration: none;
    color: black;
}
.nav_bar_top .list_icon{
padding-left: 10px;
margin-left: 10px;
color: rgb(0, 0, 0);
}
.link_text input{
    border: none;
    padding-left: 10px;
    width: 150px;
    outline: none;
}
.link_text input[text]:focus{
    border: none;
    outline: none;
}
  

.link_text i{
    padding-right: 10px;
}
.link_text{
    position: relative;
}
/* indext start */
.head-section{
    background: url(/asset/images/background-1.jpg);
   background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 700px;
}
.head-bg-content{
    position: relative;
}
.head-bg-content h1{
    font-size: 120px;
    color: white;
}
.head-section-list ul {
    list-style: none;
}
.head-section-list ul h3{
    font-size: 120px;
    color: white;
}
.head-bg-content .btn_primary{
    background-color: var(--color--primary);
    margin-top: 30px;
}
.head-bg-content img{
    position: absolute;
    width: auto;
    right: 0;

}
@media screen and (max-width:992px) {
    .col-md-6.head-section-list{
        display: none;

}
.head-bg-content img{
  display: none;
}
.head-bg-content h1{
display: none;
}
.head-section{
    height: 500px;
}
.head-bg-content .mbl-contant{
margin-top: 10%;
margin-left: 24px;
padding: 24px;
}
}
/*  */
.index-section2 div{
    padding: 24px;
}
.insurance a{
    text-decoration: none;
}
.section_index_insurance {
    background: var(--colour--bg);
    padding: 82px 0;
}
/*  */
.index_blog{
    background:var(--colour--bg);
    padding: 82px 0;
}
/*  */
.bg_about{
    background-image: url(../asset/images/background-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
   height: auto;
}
.innerbanner_text{
    height: auto;
    padding: 6% 1% 10%;
}
/*  */
.about_para{
    background: rgb(255, 255, 255);
    position: relative;
    bottom: 100px;
    margin-left: 3%;
    margin-right: 3%;
}
.about_para h2{
    padding-top: 50px;
    margin-bottom: 24px;
    
}
.about_para h5{
    margin-bottom: 24px;
    line-height: normal;
}
.cpm_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.cpm_achive ul li{
    list-style: none;
    text-align: center;
    padding: 8px 12px ;

}
.breadcrumb-item.active{
color: black;
}
.breadcrumb-item a{
    text-decoration: none;
    color:var(--colour--text2); 
    
}
/*  */
.our_story{
    background-color:rgb(244 244 244);
    padding: 50px 7%;
    

}
.story.head h2{
    margin-bottom: 50px;
}
.story_list > div{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid rgb(188, 187, 187);
    border-bottom: 1px solid rgb(183, 183, 183) ;
    font-size: 24px;
    font-weight: 600;
    color: var(--color--primary);

}
.story_list > div:last-child{
    border-bottom: none;
}
.story_list > div.active{
    border-right: 3px solid var(--color--primary);
    transition: all 300ms ease-in-out;
}
.story_para img{
    width: 20%;
    border-radius: 50%;
}
.story_para{
    display: flex;
    align-items: center;
    margin: 10px 20px;
}
.story_para p{
    margin-left: 20px;
}
.story_body{
    position: relative;
 
}
.story_body > div{
    position: absolute;
    top:-100vh;
    opacity: 0;
    transition: all ease-in-out;
 
}
.story_body > div.active{
    top: 0;
    opacity: 1;
    transition: all ease-in-out;
}
/*  */
.accordion{
    /* width: 80%; */
    margin: auto;
    margin-top: 100px;
 
}
.accordion-tittle{
    padding: 16px 24px;
    background-color: rgb(232, 232, 232);
    border-radius: 4px;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.accordion-tittle::after{
    content: "-";
    position: absolute;
    right: 16px;
    display: block;
}
.active .accordion-tittle::after{
    content: "+";
}
.active .accordion-content{
    height: 0;
    padding: 0;
    opacity: 0;
    ;
    /* transition: all 300ms ease-in-out; */
}
.accordion-content{
    height: auto;
    padding: 20px 24px 32px 9px;
    opacity: 1;
    font-size: 14px;
    /* transition: all 300ms ease-in-out; */

}
.accordion-body{
    padding: 6px;
    margin: 0;
}
.btn_primary{
    padding: 8px 24px;
    background-color:var(--colour--secondary);
    border: none;
    color: white;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;

}
.story_btn{
    margin-top: 24px;
}
.story_btn a{
    text-decoration: none;
}
/*  */
.partner-logo img{
    width: 100%;
    height: auto;
    /* padding: 50px 30px ; */
}
.partner-logo{
    padding: 50px 30px;
}
.partner-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
}
.partner-img {
    padding: 24px;
    width: 150px;
}
/*  */
.call-us{
    background-color: var(--color--primary);
    color: white;
    padding: 70px 24px;
}
.call-us_body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    }
    .call-us_num {
        display: flex;
        align-items: center;
    }
    .call-us_num i{
        font-size: 28px;
        padding: 16px;
    }
    .call_btn{
        background-color: white;
        color: black;
        font-weight: 600;
       
    }
    .call-btn{
        position: relative;
    }
   
    .call-btn a{
        text-decoration: none;
    }
    .call-bar > div{
        content: "";
            height: 54px;
            background-color: var(--colour--bg);
            width: 3px;
        }
        /*  */
   footer{
    margin-top: 100px;
   }     
   footer .social_media li{
    list-style: none;
    color: black;
    display: flex;

   }
   ul.social_media {
  
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        /* width: 18%; */
        padding-left: 0px;
 
}
.footer .footer_text{
    color: var(--colour--text2);
    margin: 24px 0px;
    font-weight: 200;
    font-size: 14px;
    padding-right: 24px;

}
.footer p{
    margin-bottom: 0;
    color: black;
    font-weight: 600;
    margin-bottom: 16px;
}
.footer p i{
    padding-right: 10px;
    color: black;
}
.footer_nav{
    margin-bottom: 50px;
}
.footer_nav ul li{
    list-style: none;
}
.footer_nav ul{
    padding-left: 0;
}
.footer_nav ul li a{
    text-decoration: none;
    font-size: 14px;
    padding: 10px 0px 10px 10px;
    color: var(--colour--text2);
}
.social_media a{
    color: black;
    padding-right: 16px;
}
.footer_input label{
    font-weight: 600;
}
.footer_list{
    padding-right: 100px;
    justify-content: space-between;
}
.footer_input input{
    border: none;
    background: none;
  width: 85%;
}
.footer_input .form-control{
    background-color:rgb(233 233 233);
    border-radius: 50px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-left: 16px;
    position: relative;
}

.footer_input input[type=text]:focus{

    outline: none;
}
.footer_next_i {
    background: var(--color--primary);
    width: 15%;
    height: 40px;
    position: absolute;
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    border-radius: 0 50px 50px 0;
    color: white;
}
@media screen and (max-width:992px){
    button.navbar-toggler {
        margin-left: auto;
    }
    .about_para {
                bottom: 54px;
            }
            .our_story {
                background-color: rgb(244 244 244);
                padding: 44px 3% 151px 3%;}
                .partner-content {
                    
                    flex-wrap: nowrap;
                }
                .call-bar > div {
                   
                    margin: 29px;
                }
                .call-us_body {
                    
                    justify-content: center;
                }
                .footer_list {
                   flex-wrap: wrap;
                   padding-right: 50px;
                   flex-direction: column;
                }
               .view_insurance2>:first-child{
                order: 2;
               }
}
@media screen and (max-width:600px) {
    ul.nav_left {
        display: none;
    }
    .about_para {
        bottom: 0;
    }
    .innerbanner_text {
        margin-left: 24px;
        text-align: center;
        width: -webkit-fill-available;
    }
    ol.breadcrumb {
        position: relative;
        top: 16px;
        justify-content: center;
        padding-bottom: 10px;
    }
    }
    .our_story {
        background-color: rgb(244 244 244);
        padding: 44px 3% 500px 3%;
    }
    .story_para {
       
        flex-wrap: wrap;
    }
    .story_para img {
        width: initial;
    
    }
    .partner-content {
        flex-wrap: wrap;
    }
    .footer_nav {
      
        display: initial !important;
    }
    .footer_input .form-control {
    width: 100% !important;
    }
    .footer_input {
flex-direction: column;
margin-bottom: 100px;

    }



/* agent page */
.inner_page_container{
    background: rgb(255, 255, 255);
    position: relative;
    bottom: 100px;
    margin-left: 3%;
    margin-right: 3%;

}
.team li{
    list-style: none;
}
.team_container{
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.team_details{
    padding-left: 24px;
}
.team_details h2{
    font-weight: 600;
}
.team_details small{
    color: gray;
    font-size: 12px;
}
.address-left p{
    font-weight: 600;
    color: #000;
    padding-bottom: 0;
}
.address-left p i{
padding-right: 8px;
}
.address_text{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* blog */
.blog_body small{
padding: 0 10px 10px 0px;
}
.pagination .page-item{
 margin-left: 16px;
}
.pagination .page-item a{
    border-radius: 50px !important
}
.pagination .page-item.active a{
    background: var(--color--primary);
    color: white;
}
.blog_input input{
    border: none;
    background: none;
    padding: 5px 0px;
    width: 80%;
}
.blog_input input:focus{
    border: none;
    outline: none;
  
}
.blog_input i{
    padding: 5px 0
}
hr{
    margin: 16px 0;
}
.form-control.blog_input{
    background: rgb(239, 239, 239);
}
.recent_comments p{
    margin-bottom: 0;
    margin-top: 16px;
}
.recent_comments{
    padding-bottom: 16px;
}
.categories li{
    list-style: none;
    padding: 8px 0;
}
.categories>ul{
    padding-left: 0;
}
.categories i{
    padding-right: 6px;
}
.categories a{
    text-decoration: none;
    color: var(--colour--text2);
}
.categories a.active{
    color: #000;
    font-weight: 600;
}
.recent-post a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.blog-head a{
    text-decoration: none;
}
/* contact */
.form-floating>label{
    left: 16px;
    color:var(--colour--text2);
}

.form-floating>textarea{
    height: 300px;
}
input.form-control{
    border-radius: 50px;
    padding-left: 16px;

}

input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: rgb(0, 0, 0);}
.form-control:focus{
border-color: none;
box-shadow: none;
outline: none;
border: 1px solid gray;
background: none;
}
/* insurance */
.insurance a{
    text-decoration: none;
    color: var(--color--primary);
   font-size: 15px;
}
.insurance a i{
    padding-left: 10px;
}
.quick_quote{
    background-image: url(/asset/images/background-2.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
   position: relative;
    background-position-x: left;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    
}
.quick_quote_body{
background: white;
position: absolute;

/* left: 16px; */
top: 10%;
/* bottom: 10%; */

right: 16px;
}   
@media screen and  (max-width:992px) {
    .quick_quote_contect{
        flex-direction: column;
    }
    .quick_quote_body{
        left: 16px;
    }

}
.quick_quote_body .quick_quote_content{
    padding: 50px;
}
.footer-section{
    margin-top: 0;
}